<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".Images_android.MyAppClass.GalleryAppClass"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/sdk_captive_portal_network_security"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_White"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:networkSecurityConfig">
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Bicycle_extra.FirstActivity"
            android:exported="false" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Bicycle_extra.FiveActivity"
            android:exported="false" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Bicycle_extra.FourActivity"
            android:exported="false" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Bicycle_extra.ThreeActivity"
            android:exported="false" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Bicycle_extra.SecondActivity"
            android:exported="false" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.StatusModule.PeasWp.VideoPLayerActivity"
            android:exported="false" />
        <activity android:name="hdphoto.galleryimages.gelleryalbum.Images_android.DuplicateModule.DataActivity.DataScanActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.DeguPrivateActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_DeleteTrashActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.PreviewActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="hdphoto.galleryimages.gelleryalbum.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Bicycle_extra.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Paraguay_splashexit.PermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_MainActivity"
            android:exported="true"

            android:finishOnTaskLaunch="false"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.EdModule.EdActivity.EdEditImageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_PasswordChangeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.SecurityQAActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_PasswordLockActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_ImageSelectActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.VideoSelectActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_BothDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.Degu_ImagesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Bongo_PhotoModule.Lotus_Activity.VideosActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.DuplicateModule.DataActivity.DataDuplicateActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Ibex_CollageModule.Hertz_Activity.HiPhi_MainActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Galleries" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Ibex_CollageModule.Hertz_Activity.Inchworm_ShareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CollageEditorTheme" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Ibex_CollageModule.Duff_Lib.Duff_CollageActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:theme="@style/CollageEditorTheme" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Ibex_CollageModule.Hertz_Activity.stickers.StickerDataActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CollageEditorTheme" />
        <activity
            android:name="hdphoto.galleryimages.gelleryalbum.Images_android.Ibex_CollageModule.Hertz_Activity.Impala_MirrorActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:theme="@style/CollageEditorTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>